.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 30%;
}

.right {
  display: block;
  margin-right: auto;
  width: 50%;
}

.left {
  display: block;
  margin-left: auto;
  width: 50%;
  border-radius: 50%;
}
